In [1]:
#1. Script to connection with database
from sqlalchemy import create_engine, MetaData, Table, select, func, or_
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)

In [2]:
#2. Based on information_schema, present how to explore the relationships between the tables:

# i. staff and country
"""
staff is related with address via address_id
address is related with citi via citi_id
city is related with country via countr id
"""
# ii. actor, language, and film
"""
actor is related with film via film_actor which stores relationships betwen them (actor_id, film_id)
language is related with film via language_id
"""

'\nactor is related with film via film_actor which stores relationships betwen them (actor_id, film_id)\nlanguage is related with film via language_id\n'

In [3]:
#3. How many categories of films we ave in the rental
metadata = MetaData()
category = Table("category", metadata, autoload=True, autoload_with=db)
film_category = Table("film_category", metadata, autoload=True, autoload_with=db)
film = Table("film", metadata, autoload=True, autoload_with=db)
inventory = Table("inventory", metadata, autoload=True, autoload_with=db)
rental = Table("rental", metadata, autoload=True, autoload_with=db)

stmt = select([func.count(category.c.category_id.distinct())])
stmt = stmt.where(category.c.category_id == film_category.c.category_id)
stmt = stmt.where(film_category.c.film_id == film.c.film_id)
stmt = stmt.where(film.c.film_id == inventory.c.film_id)
stmt = stmt.where(inventory.c.inventory_id == rental.c.inventory_id)

results = db.execute(stmt).fetchall()
print(results)

[(16,)]

In [4]:
#4. Display list of categories with limit 2
stmt = select([category])
results = db.execute(stmt).fetchmany(size=2)
print(results)
for result in results:
    print(result.name)

[(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27)), (2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27))]
Action
Animation

In [5]:
#5. Find the oldest and youngest film in rental
stmt = select([film.c.title, func.min(film.c.release_year)]).group_by(film.c.title)
stmt = stmt.where(film.c.film_id == inventory.c.film_id)
stmt = stmt.where(inventory.c.inventory_id == rental.c.inventory_id)

results = db.execute(stmt).fetchmany(size=1)
print("Youngest film:", results)

stmt = select([film.c.title, func.max(film.c.release_year)]).group_by(film.c.title)
stmt = stmt.where(film.c.film_id == inventory.c.film_id)
stmt = stmt.where(inventory.c.inventory_id == rental.c.inventory_id)

results = db.execute(stmt).fetchmany(size=1)
print("Oldest film:", results)

#Becouse we have onlu release_year and all films are from 2006 there is no posibility to chose youngest and oldest

Youngest film: [('Frontier Cabin', 2006)]
Oldest film: [('Frontier Cabin', 2006)]

In [7]:
#6. Find all actor with a name: Olympia, Julia, Ellen. How can you check correction of your query?
actor = Table("actor", metadata , autoload=True, autoload_with=db)
stmt = select([actor])
stmt = stmt.where(or_(actor.c.first_name == 'Olympia', actor.c.first_name == 'Julia', actor.c.first_name == 'Ellen'))
results = db.execute(stmt).fetchall()

for result in results:
    print(result.actor_id, result.first_name, result.last_name)
    
#correction check of a querry
print(stmt)

27 Julia Mcqueen
47 Julia Barrymore
93 Ellen Presley
171 Olympia Pfeiffer
186 Julia Zellweger
199 Julia Fawcett
SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update
FROM actor
WHERE actor.first_name = :first_name_1 OR actor.first_name = :first_name_2 OR actor.first_name = :first_name_3