In [23]:
# Use when query is blocked
stmt = session.rollback()

In [1]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb')

In [2]:
from sqlalchemy import MetaData, Table

metadata = MetaData()

dict_table = dict()
for table_name in engine.table_names():
    dict_table[table_name] = Table(table_name, metadata, autoload=True, autoload_with=engine)

print(repr(dict_table['category']))

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAB5279A88>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EAB5279208>, for_update=False)), schema=None)

In [3]:
# For object representation

from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

from sqlalchemy import Column, ForeignKey
from sqlalchemy.dialects.mysql import \
        BIGINT, BINARY, BIT, BLOB, BOOLEAN, CHAR, DATE, \
        DATETIME, DECIMAL, DECIMAL, DOUBLE, ENUM, FLOAT, INTEGER, \
        LONGBLOB, LONGTEXT, MEDIUMBLOB, MEDIUMINT, MEDIUMTEXT, NCHAR, \
        NUMERIC, NVARCHAR, REAL, SET, SMALLINT, TEXT, TIME, TIMESTAMP, \
        TINYBLOB, TINYINT, TINYTEXT, VARBINARY, VARCHAR, YEAR

session = (sessionmaker(bind=engine))()

Base = declarative_base()

class Category(Base):
    
    __tablename__ = 'category'
    category_id  = Column(INTEGER, primary_key=True, unique=True)
    name = Column(VARCHAR(25))
    last_update  = Column(TIMESTAMP)
    
    def __str__(self):
        return 'Category id:{0}\nCategory name: {1}\nCategory last_update: {2}'.format(self.category_id,
                                                                                       self.name,
                                                                                       self.last_update)
    
class FilmCategory(Base):
    
    __tablename__ = 'film_category'
    film_id = Column(SMALLINT, ForeignKey("film.film_id"), primary_key=True, unique=True)
    category_id = Column(SMALLINT, ForeignKey("category.category_id"), unique=True)
    last_update = Column(TIMESTAMP)
    
    # FilmCategory_Category_id = Column(INTEGER, ForeignKey("category.category_id"))
    # FilmCategory_Film_id = Column(INTEGER, ForeignKey("film.film_id"))
    
    FilmCategory_Category = relationship("Category")
    FilmCategory_Film = relationship("Film")
    
class Film(Base):
    
    __tablename__ = 'film'
    film_id  = Column(INTEGER, primary_key=True)
    title = Column(VARCHAR(255))
    description = Column(TEXT)
    release_year  = Column(YEAR)
    language_id = Column(SMALLINT, ForeignKey("language.language_id"))
    rental_duration = Column(SMALLINT)
    rental_rate = Column(NUMERIC(4,2))
    length = Column(SMALLINT)
    replacement_cost = Column(NUMERIC(5,2))
    rating = Column(TEXT)
    last_update = Column(TIMESTAMP)
    special_features = Column(TEXT)
    fulltext = Column(TEXT)
    
    # Film_Language_id = Column(INTEGER, ForeignKey("language.language_id"))
    
    Film_Language = relationship("Language")

class Inventory(Base):

    __tablename__ = 'inventory'
    inventory_id = Column(INTEGER, primary_key=True, unique=True)
    film_id = Column(SMALLINT, ForeignKey("film.film_id"))
    store_id = Column(SMALLINT)
    last_update = Column(TIMESTAMP)
    
    Inventory_Film = relationship("Film")

class Rental(Base):

    __tablename__ = 'rental'
    rental_id = Column(INTEGER, primary_key=True, unique=True)
    rental_date = Column(TIMESTAMP, unique=True)
    inventory_id = Column(INTEGER, ForeignKey("inventory.inventory_id"), unique=True)
    customer_id = Column(SMALLINT, ForeignKey("customer.customer_id"), unique=True)
    return_date = Column(TIMESTAMP)
    staff_id = Column(SMALLINT, ForeignKey("staff.staff_id"))
    last_update = Column(TIMESTAMP)
    
    Rental_Inventory = relationship("Inventory")
    Rental_Customer = relationship("Customer")
    Rental_Staff = relationship("Staff")

class Customer(Base):
    
    __tablename__ = 'customer'
    customer_id = Column(INTEGER, primary_key=True, unique=True)
    store_id = Column(SMALLINT)
    first_name = Column(VARCHAR(45))
    last_name = Column(VARCHAR(45))
    email = Column(VARCHAR(50))
    address_id = Column(SMALLINT, ForeignKey("address.address_id"))
    activebool = Column(BOOLEAN)
    create_date = Column(DATE)
    last_update = Column(TIMESTAMP)
    active = Column(INTEGER)
    
    Customer_Address = relationship("Address")
    
class Payment(Base):
    
    __tablename__ = 'payment'
    payment_id = Column(INTEGER, primary_key=True, unique=True)
    customer_id = Column(SMALLINT, ForeignKey("customer.customer_id"))
    staff_id = Column(SMALLINT, ForeignKey("staff.staff_id"))
    rental_id = Column(INTEGER, ForeignKey("rental.rental_id"))
    amount = Column(NUMERIC(5,2))
    payment_date = Column(TIMESTAMP)
    
    Payment_Customer = relationship("Customer")
    Payment_Staff = relationship("Staff")
    Payment_Rental = relationship("Rental")
    
class Address(Base):
    
    __tablename__ = 'address'
    address_id = Column(INTEGER, primary_key=True, unique=True)
    address = Column(VARCHAR(50))
    address2 = Column(VARCHAR(50))
    district = Column(VARCHAR(20))
    city_id = Column(SMALLINT, ForeignKey("city.city_id"))
    postal_code = Column(VARCHAR(10))
    phone = Column(VARCHAR(20))
    last_update = Column(TIMESTAMP)
    
    Address_City = relationship("City")
    
class Language(Base):
    
    __tablename__ = 'language'
    language_id = Column(INTEGER, primary_key=True, unique=True)
    name = Column(CHAR(20))
    last_update = Column(TIMESTAMP)
    
class FilmActor(Base):
    
    __tablename__ = 'film_actor'
    actor_id = Column(SMALLINT, ForeignKey("actor.actor_id"), primary_key=True, unique=True)
    film_id = Column(SMALLINT, ForeignKey("film.film_id"), primary_key=True, unique=True)
    last_update = Column(TIMESTAMP)
    
    FilmActor_Actor = relationship("Actor")
    FilmActor_Film = relationship("Film")
    
class Staff(Base):
    
    __tablename__ = 'staff'
    staff_id = Column(INTEGER, primary_key=True, unique=True)
    first_name = Column(VARCHAR(45))
    last_name = Column(VARCHAR(45))
    address_id = Column(SMALLINT, ForeignKey("address.address_id"))
    email = Column(VARCHAR(50))
    store_id = Column(SMALLINT)
    active = Column(BOOLEAN)
    username = Column(VARCHAR(16))
    password = Column(VARCHAR(40))
    last_update = Column(TIMESTAMP)
    
    Staff_Address = relationship("Address")
    
class Actor(Base):
    
    __tablename__ = 'actor'
    actor_id = Column(INTEGER, primary_key=True, unique=True)
    first_name = Column(VARCHAR(45))
    last_name = Column(VARCHAR(45))
    last_update = Column(TIMESTAMP)
    
class City(Base):
    
    __tablename__ = 'city'
    city_id = Column(INTEGER, primary_key=True, unique=True)
    city = Column(VARCHAR(50))
    country_id = Column(SMALLINT, ForeignKey("country.country_id"))
    last_update = Column(TIMESTAMP)
    
    City_Country = relationship("Country")
    
class Country(Base):
    
    __tablename__ = 'country'
    country_id = Column(INTEGER, primary_key=True, unique=True)
    country = Column(VARCHAR(50))
    last_update = Column(TIMESTAMP)
    
class Store(Base):
    
    __tablename__ = 'store'
    store_id = Column(INTEGER, primary_key=True, unique=True)
    manager_staff_id = Column(SMALLINT, ForeignKey("staff.staff_id"), unique=True)
    addres_id = Column(SMALLINT, ForeignKey("address.address_id"))
    last_update = Column(TIMESTAMP)

In [4]:
from sqlalchemy import select, func, and_, or_
import datetime

7. Find all customers from Poland or Nigeria or Bangladesh.

In [5]:
join_stmt7 = dict_table['customer']\
    .join(dict_table['address'], dict_table['customer'].c.address_id == dict_table['address'].c.address_id)\
    .join(dict_table['city'], dict_table['address'].c.city_id == dict_table['city'].c.city_id)\
    .join(dict_table['country'], dict_table['city'].c.country_id == dict_table['country'].c.country_id)
mapper_stmt7 = select([dict_table['customer'].c.first_name, dict_table['customer'].c.last_name, dict_table['country'].c.country])\
    .select_from(join_stmt7)\
    .where(or_(dict_table['country'].c.country == 'Poland',
               dict_table['country'].c.country == 'Nigeria',
               dict_table['country'].c.country == 'Bangladesh'))\
    .group_by(dict_table['customer'].c.first_name, dict_table['customer'].c.last_name, dict_table['country'].c.country)
engine.execute(mapper_stmt7).fetchall()

[('Bertha', 'Ferguson', 'Nigeria'),
 ('Brian', 'Wyman', 'Poland'),
 ('Carol', 'Garcia', 'Nigeria'),
 ('Constance', 'Reid', 'Nigeria'),
 ('Elsie', 'Kelley', 'Nigeria'),
 ('Frank', 'Waggoner', 'Bangladesh'),
 ('Gladys', 'Hamilton', 'Nigeria'),
 ('Jimmie', 'Eggleston', 'Poland'),
 ('Jo', 'Fowler', 'Nigeria'),
 ('Johnnie', 'Chisholm', 'Poland'),
 ('Leah', 'Curtis', 'Poland'),
 ('Marilyn', 'Ross', 'Nigeria'),
 ('Marjorie', 'Tucker', 'Poland'),
 ('Michelle', 'Clark', 'Bangladesh'),
 ('Olga', 'Jimenez', 'Nigeria'),
 ('Rodney', 'Moeller', 'Nigeria'),
 ('Ruben', 'Geary', 'Poland'),
 ('Russell', 'Brinson', 'Poland'),
 ('Sidney', 'Burleson', 'Poland'),
 ('Sonia', 'Gregory', 'Nigeria'),
 ('Stephen', 'Qualls', 'Bangladesh'),
 ('Tracey', 'Barrett', 'Nigeria'),
 ('Velma', 'Lucas', 'Nigeria'),
 ('Wallace', 'Slone', 'Nigeria')]

In [6]:
%%timeit
join_stmt7 = dict_table['customer']\
    .join(dict_table['address'], dict_table['customer'].c.address_id == dict_table['address'].c.address_id)\
    .join(dict_table['city'], dict_table['address'].c.city_id == dict_table['city'].c.city_id)\
    .join(dict_table['country'], dict_table['city'].c.country_id == dict_table['country'].c.country_id)
mapper_stmt7 = select([dict_table['customer'].c.first_name, dict_table['customer'].c.last_name, dict_table['country'].c.country])\
    .select_from(join_stmt7)\
    .where(or_(dict_table['country'].c.country == 'Poland',
               dict_table['country'].c.country == 'Nigeria',
               dict_table['country'].c.country == 'Bangladesh'))\
    .group_by(dict_table['customer'].c.first_name, dict_table['customer'].c.last_name, dict_table['country'].c.country)
engine.execute(mapper_stmt7).fetchall()

159 ms ± 30.1 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
session_stmt7 = session.query(Customer.first_name, Customer.last_name, Country.country)\
    .join(Customer.Customer_Address)\
    .join(Address.Address_City)\
    .join(City.City_Country)\
    .filter(or_(Country.country == 'Poland',
                Country.country == 'Nigeria',
                Country.country == 'Bangladesh'))\
    .group_by(Customer.first_name, Customer.last_name, Country.country)
session_stmt7.all()

[('Bertha', 'Ferguson', 'Nigeria'),
 ('Brian', 'Wyman', 'Poland'),
 ('Carol', 'Garcia', 'Nigeria'),
 ('Constance', 'Reid', 'Nigeria'),
 ('Elsie', 'Kelley', 'Nigeria'),
 ('Frank', 'Waggoner', 'Bangladesh'),
 ('Gladys', 'Hamilton', 'Nigeria'),
 ('Jimmie', 'Eggleston', 'Poland'),
 ('Jo', 'Fowler', 'Nigeria'),
 ('Johnnie', 'Chisholm', 'Poland'),
 ('Leah', 'Curtis', 'Poland'),
 ('Marilyn', 'Ross', 'Nigeria'),
 ('Marjorie', 'Tucker', 'Poland'),
 ('Michelle', 'Clark', 'Bangladesh'),
 ('Olga', 'Jimenez', 'Nigeria'),
 ('Rodney', 'Moeller', 'Nigeria'),
 ('Ruben', 'Geary', 'Poland'),
 ('Russell', 'Brinson', 'Poland'),
 ('Sidney', 'Burleson', 'Poland'),
 ('Sonia', 'Gregory', 'Nigeria'),
 ('Stephen', 'Qualls', 'Bangladesh'),
 ('Tracey', 'Barrett', 'Nigeria'),
 ('Velma', 'Lucas', 'Nigeria'),
 ('Wallace', 'Slone', 'Nigeria')]

In [8]:
%%timeit
session_stmt7 = session.query(Customer.first_name, Customer.last_name, Country.country)\
    .join(Customer.Customer_Address)\
    .join(Address.Address_City)\
    .join(City.City_Country)\
    .filter(or_(Country.country == 'Poland',
                Country.country == 'Nigeria',
                Country.country == 'Bangladesh'))\
    .group_by(Customer.first_name, Customer.last_name, Country.country)
session_stmt7.all()

The slowest run took 4.18 times longer than the fastest. This could mean that an intermediate result is being cached.
83.3 ms ± 47.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

8. Where live staff members?

In [9]:
join_stmt8 = dict_table['staff']\
    .join(dict_table['address'], dict_table['address'].c.address_id == dict_table['staff'].c.address_id)\
    .join(dict_table['city'], dict_table['city'].c.city_id == dict_table['address'].c.city_id)\
    .join(dict_table['country'], dict_table['country'].c.country_id == dict_table['city'].c.country_id)
mapper_stmt8 = select([dict_table['staff'].c.first_name, dict_table['staff'].c.last_name, 
                       dict_table['address'].c.address, dict_table['address'].c.address2,
                       dict_table['city'].c.city, dict_table['country'].c.country]).select_from(join_stmt8)\
    .group_by(dict_table['staff'].c.first_name, dict_table['staff'].c.last_name, 
              dict_table['address'].c.address, dict_table['address'].c.address2,
              dict_table['city'].c.city, dict_table['country'].c.country)
engine.execute(mapper_stmt8).fetchall()

[('Jon', 'Stephens', '1411 Lillydale Drive', None, 'Woodridge', 'Australia'),
 ('Mike', 'Hillyer', '23 Workhaven Lane', None, 'Lethbridge', 'Canada')]

In [10]:
%%timeit
join_stmt8 = dict_table['staff']\
    .join(dict_table['address'], dict_table['address'].c.address_id == dict_table['staff'].c.address_id)\
    .join(dict_table['city'], dict_table['city'].c.city_id == dict_table['address'].c.city_id)\
    .join(dict_table['country'], dict_table['country'].c.country_id == dict_table['city'].c.country_id)
mapper_stmt8 = select([dict_table['staff'].c.first_name, dict_table['staff'].c.last_name, 
                       dict_table['address'].c.address, dict_table['address'].c.address2,
                       dict_table['city'].c.city, dict_table['country'].c.country]).select_from(join_stmt8)\
    .group_by(dict_table['staff'].c.first_name, dict_table['staff'].c.last_name, 
              dict_table['address'].c.address, dict_table['address'].c.address2,
              dict_table['city'].c.city, dict_table['country'].c.country)
engine.execute(mapper_stmt8).fetchall()

177 ms ± 43 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [11]:
session_stmt8 = session.query(Staff.first_name, Staff.last_name, Address.address,
                              Address.address2, City.city, Country.country)\
    .join(Staff.Staff_Address)\
    .join(Address.Address_City)\
    .join(City.City_Country)\
    .group_by(Staff.first_name, Staff.last_name, Address.address,
              Address.address2, City.city, Country.country)
session_stmt8.all()

[('Jon', 'Stephens', '1411 Lillydale Drive', None, 'Woodridge', 'Australia'),
 ('Mike', 'Hillyer', '23 Workhaven Lane', None, 'Lethbridge', 'Canada')]

In [12]:
%%timeit
session_stmt8 = session.query(Staff.first_name, Staff.last_name, Address.address,
                              Address.address2, City.city, Country.country)\
    .join(Staff.Staff_Address)\
    .join(Address.Address_City)\
    .join(City.City_Country)\
    .group_by(Staff.first_name, Staff.last_name, Address.address,
              Address.address2, City.city, Country.country)
session_stmt8.all()

67.3 ms ± 7.31 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

9. How many staff members live in Argentina or Spain?

In [13]:
join_stmt9 = dict_table['staff']\
    .join(dict_table['address'], dict_table['address'].c.address_id == dict_table['staff'].c.address_id)\
    .join(dict_table['city'], dict_table['city'].c.city_id == dict_table['address'].c.city_id)\
    .join(dict_table['country'], dict_table['country'].c.country_id == dict_table['city'].c.country_id)
mapper_stmt9 = select([dict_table['staff'].c.first_name, dict_table['staff'].c.last_name,
                       dict_table['address'].c.address, dict_table['address'].c.address2, 
                       dict_table['city'].c.city, dict_table['country'].c.country]).select_from(join_stmt9)\
    .group_by(dict_table['staff'].c.first_name, dict_table['staff'].c.last_name,
                       dict_table['address'].c.address, dict_table['address'].c.address2, 
                       dict_table['city'].c.city, dict_table['country'].c.country)\
    .where(or_(dict_table['country'].c.country == 'Argentina',
               dict_table['country'].c.country == 'Spain'))
engine.execute(mapper_stmt9).fetchall()

[]

In [14]:
%%timeit
join_stmt9 = dict_table['staff']\
    .join(dict_table['address'], dict_table['address'].c.address_id == dict_table['staff'].c.address_id)\
    .join(dict_table['city'], dict_table['city'].c.city_id == dict_table['address'].c.city_id)\
    .join(dict_table['country'], dict_table['country'].c.country_id == dict_table['city'].c.country_id)
mapper_stmt9 = select([dict_table['staff'].c.first_name, dict_table['staff'].c.last_name,
                       dict_table['address'].c.address, dict_table['address'].c.address2, 
                       dict_table['city'].c.city, dict_table['country'].c.country]).select_from(join_stmt9)\
    .group_by(dict_table['staff'].c.first_name, dict_table['staff'].c.last_name,
                       dict_table['address'].c.address, dict_table['address'].c.address2, 
                       dict_table['city'].c.city, dict_table['country'].c.country)\
    .where(or_(dict_table['country'].c.country == 'Argentina',
               dict_table['country'].c.country == 'Spain'))
engine.execute(mapper_stmt9).fetchall()

141 ms ± 28.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
session_stmt9 = session.query(Staff.first_name, Staff.last_name, Address.address, Address.address2,
                              City.city, Country.country)\
    .join(Staff.Staff_Address)\
    .join(Address.Address_City)\
    .join(City.City_Country)\
    .group_by(Staff.first_name, Staff.last_name, Address.address, Address.address2, City.city, Country.country)\
    .filter(or_(Country.country == 'Argentina',
                Country.country == 'Spain'))
session_stmt9.all()

[]

In [17]:
%%timeit
session_stmt9 = session.query(Staff.first_name, Staff.last_name, Address.address, Address.address2,
                              City.city, Country.country)\
    .join(Staff.Staff_Address)\
    .join(Address.Address_City)\
    .join(City.City_Country)\
    .group_by(Staff.first_name, Staff.last_name, Address.address, Address.address2, City.city, Country.country)\
    .filter(or_(Country.country == 'Argentina',
                Country.country == 'Spain'))
session_stmt9.all()

58.7 ms ± 14.5 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

10. Which categories of the films were rented by clients?

In [20]:
join_stmt10 = dict_table['category']\
    .join(dict_table['film_category'], dict_table['film_category'].c.category_id == dict_table['category'].c.category_id)\
    .join(dict_table['film'], dict_table['film'].c.film_id == dict_table['film_category'].c.film_id)\
    .join(dict_table['inventory'], dict_table['inventory'].c.film_id == dict_table['film'].c.film_id)\
    .join(dict_table['rental'], dict_table['rental'].c.inventory_id == dict_table['inventory'].c.inventory_id)
mapper_stmt10 = select([func.distinct(dict_table['category'].c.name)]).select_from(join_stmt10)\
    .order_by(dict_table['category'].c.name)
engine.execute(mapper_stmt10).fetchall()

[('Action',),
 ('Animation',),
 ('Children',),
 ('Classics',),
 ('Comedy',),
 ('Documentary',),
 ('Drama',),
 ('Family',),
 ('Foreign',),
 ('Games',),
 ('Horror',),
 ('Music',),
 ('New',),
 ('Sci-Fi',),
 ('Sports',),
 ('Travel',)]

In [19]:
%%timeit
join_stmt10 = dict_table['category']\
    .join(dict_table['film_category'], dict_table['film_category'].c.category_id == dict_table['category'].c.category_id)\
    .join(dict_table['film'], dict_table['film'].c.film_id == dict_table['film_category'].c.film_id)\
    .join(dict_table['inventory'], dict_table['inventory'].c.film_id == dict_table['film'].c.film_id)\
    .join(dict_table['rental'], dict_table['rental'].c.inventory_id == dict_table['inventory'].c.inventory_id)
mapper_stmt10 = select([func.distinct(dict_table['category'].c.name)]).select_from(join_stmt10)\
    .order_by(dict_table['category'].c.name)
engine.execute(mapper_stmt10).fetchall()

151 ms ± 8.05 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [35]:
session_stmt10 = session.query(func.distinct(Category.name))\
    .join(Rental.Rental_Inventory)\
    .join(Inventory.Inventory_Film)\
    .join(FilmCategory, FilmCategory.film_id == Film.film_id)\
    .join(FilmCategory.FilmCategory_Category)\
    .order_by(Category.name)
session_stmt10.all()

[('Action'),
 ('Animation'),
 ('Children'),
 ('Classics'),
 ('Comedy'),
 ('Documentary'),
 ('Drama'),
 ('Family'),
 ('Foreign'),
 ('Games'),
 ('Horror'),
 ('Music'),
 ('New'),
 ('Sci-Fi'),
 ('Sports'),
 ('Travel')]

In [36]:
%%timeit
session_stmt10 = session.query(func.distinct(Category.name))\
    .join(Rental.Rental_Inventory)\
    .join(Inventory.Inventory_Film)\
    .join(FilmCategory, FilmCategory.film_id == Film.film_id)\
    .join(FilmCategory.FilmCategory_Category)\
    .order_by(Category.name)
session_stmt10.all()

52.1 ms ± 4.91 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

11. Find all categories of films rented in America.

In [38]:
join_stmt11 = dict_table['category']\
    .join(dict_table['film_category'], dict_table['film_category'].c.category_id == dict_table['category'].c.category_id)\
    .join(dict_table['film'], dict_table['film'].c.film_id == dict_table['film_category'].c.film_id)\
    .join(dict_table['inventory'], dict_table['inventory'].c.film_id == dict_table['film'].c.film_id)\
    .join(dict_table['rental'], dict_table['rental'].c.inventory_id == dict_table['inventory'].c.inventory_id)\
    .join(dict_table['customer'], dict_table['customer'].c.customer_id == dict_table['rental'].c.customer_id)\
    .join(dict_table['address'], dict_table['address'].c.address_id == dict_table['customer'].c.customer_id)\
    .join(dict_table['city'], dict_table['city'].c.city_id == dict_table['address'].c.city_id)\
    .join(dict_table['country'], dict_table['country'].c.country_id == dict_table['city'].c.country_id)
mapper_stmt11 = select([func.distinct(dict_table['category'].c.name)]).select_from(join_stmt11)\
    .where(dict_table['country'].c.country == 'America')
engine.execute(mapper_stmt11).fetchall()

[]

In [39]:
%%timeit
join_stmt11 = dict_table['category']\
    .join(dict_table['film_category'], dict_table['film_category'].c.category_id == dict_table['category'].c.category_id)\
    .join(dict_table['film'], dict_table['film'].c.film_id == dict_table['film_category'].c.film_id)\
    .join(dict_table['inventory'], dict_table['inventory'].c.film_id == dict_table['film'].c.film_id)\
    .join(dict_table['rental'], dict_table['rental'].c.inventory_id == dict_table['inventory'].c.inventory_id)\
    .join(dict_table['customer'], dict_table['customer'].c.customer_id == dict_table['rental'].c.customer_id)\
    .join(dict_table['address'], dict_table['address'].c.address_id == dict_table['customer'].c.customer_id)\
    .join(dict_table['city'], dict_table['city'].c.city_id == dict_table['address'].c.city_id)\
    .join(dict_table['country'], dict_table['country'].c.country_id == dict_table['city'].c.country_id)
mapper_stmt11 = select([func.distinct(dict_table['category'].c.name)]).select_from(join_stmt11)\
    .where(dict_table['country'].c.country == 'America')
engine.execute(mapper_stmt11).fetchall()

148 ms ± 17.5 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
session_stmt11 = session.query(func.distinct(Category.name))\
    .join(FilmCategory.FilmCategory_Category)\
    .join(FilmCategory.FilmCategory_Film)\
    .join(Rental.Rental_Inventory)\
    .join(Rental.Rental_Customer)\
    .join(Customer.Customer_Address)\
    .join(Address.Address_City)\
    .join(City.City_Country)\
    .filter(Country.country == 'America')
session_stmt11.all()

In [43]:
%%timeit
session_stmt11 = session.query(func.distinct(Category.name))\
    .join(FilmCategory.FilmCategory_Category)\
    .join(FilmCategory.FilmCategory_Film)\
    .join(Rental.Rental_Inventory)\
    .join(Rental.Rental_Customer)\
    .join(Customer.Customer_Address)\
    .join(Address.Address_City)\
    .join(City.City_Country)\
    .filter(Country.country == 'America')
session_stmt11.all()

69.2 ms ± 6.9 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

12. Find all title of films where was played: Olympia Pfeiffer or Julia Zellweger or Ellen Presley

In [44]:
join_stmt12 = dict_table['film']\
    .join(dict_table['film_actor'], dict_table['film_actor'].c.film_id == dict_table['film'].c.film_id)\
    .join(dict_table['actor'], dict_table['actor'].c.actor_id == dict_table['film_actor'].c.actor_id)
mapper_stmt12 = select([dict_table['film'].c.title, dict_table['actor'].c.first_name, dict_table['actor'].c.last_name])\
    .select_from(join_stmt12)\
    .where(or_(and_(dict_table['actor'].c.first_name == 'Olympia', dict_table['actor'].c.last_name == 'Pfeiffer'),
               and_(dict_table['actor'].c.first_name == 'Julia', dict_table['actor'].c.last_name == 'Zellweger'),
               and_(dict_table['actor'].c.first_name == 'Ellen', dict_table['actor'].c.last_name == 'Presley')))
engine.execute(mapper_stmt12).fetchall()

[('Bilko Anonymous', 'Ellen', 'Presley'),
 ('Caribbean Liberty', 'Ellen', 'Presley'),
 ('Casper Dragonfly', 'Ellen', 'Presley'),
 ('Empire Malkovich', 'Ellen', 'Presley'),
 ('Floats Garden', 'Ellen', 'Presley'),
 ('Frogmen Breaking', 'Ellen', 'Presley'),
 ('Homeward Cider', 'Ellen', 'Presley'),
 ('Hyde Doctor', 'Ellen', 'Presley'),
 ('Image Princess', 'Ellen', 'Presley'),
 ('Jacket Frisco', 'Ellen', 'Presley'),
 ('Microcosmos Paradise', 'Ellen', 'Presley'),
 ('Network Peak', 'Ellen', 'Presley'),
 ('Oscar Gold', 'Ellen', 'Presley'),
 ('Pickup Driving', 'Ellen', 'Presley'),
 ('Pinocchio Simon', 'Ellen', 'Presley'),
 ('Private Drop', 'Ellen', 'Presley'),
 ('Roots Remember', 'Ellen', 'Presley'),
 ('Scarface Bang', 'Ellen', 'Presley'),
 ('Secretary Rouge', 'Ellen', 'Presley'),
 ('Spy Mile', 'Ellen', 'Presley'),
 ('Streetcar Intentions', 'Ellen', 'Presley'),
 ('Tadpole Park', 'Ellen', 'Presley'),
 ('Treasure Command', 'Ellen', 'Presley'),
 ('Turn Star', 'Ellen', 'Presley'),
 ('Women Dorado', 'Ellen', 'Presley'),
 ('Badman Dawn', 'Olympia', 'Pfeiffer'),
 ('Chitty Lock', 'Olympia', 'Pfeiffer'),
 ('Color Philadelphia', 'Olympia', 'Pfeiffer'),
 ('Contact Anonymous', 'Olympia', 'Pfeiffer'),
 ('Deep Crusade', 'Olympia', 'Pfeiffer'),
 ('Effect Gladiator', 'Olympia', 'Pfeiffer'),
 ('Express Lonely', 'Olympia', 'Pfeiffer'),
 ('Firehouse Vietnam', 'Olympia', 'Pfeiffer'),
 ('Fugitive Maguire', 'Olympia', 'Pfeiffer'),
 ('Hanky October', 'Olympia', 'Pfeiffer'),
 ('Ice Crossing', 'Olympia', 'Pfeiffer'),
 ('Idols Snatchers', 'Olympia', 'Pfeiffer'),
 ('Intolerable Intentions', 'Olympia', 'Pfeiffer'),
 ('Magnolia Forrester', 'Olympia', 'Pfeiffer'),
 ('Mars Roman', 'Olympia', 'Pfeiffer'),
 ('Maude Mod', 'Olympia', 'Pfeiffer'),
 ('Murder Antitrust', 'Olympia', 'Pfeiffer'),
 ('None Spiking', 'Olympia', 'Pfeiffer'),
 ('Others Soup', 'Olympia', 'Pfeiffer'),
 ('Psycho Shrunk', 'Olympia', 'Pfeiffer'),
 ('Santa Paris', 'Olympia', 'Pfeiffer'),
 ('Sense Greek', 'Olympia', 'Pfeiffer'),
 ('Storm Happiness', 'Olympia', 'Pfeiffer'),
 ('Sweet Brotherhood', 'Olympia', 'Pfeiffer'),
 ('Titanic Boondock', 'Olympia', 'Pfeiffer'),
 ('Tourist Pelican', 'Olympia', 'Pfeiffer'),
 ('Traffic Hobbit', 'Olympia', 'Pfeiffer'),
 ('Wait Cider', 'Olympia', 'Pfeiffer'),
 ('Breakfast Goldfinger', 'Julia', 'Zellweger'),
 ('Cranes Reservoir', 'Julia', 'Zellweger'),
 ('Dares Pluto', 'Julia', 'Zellweger'),
 ('Detective Vision', 'Julia', 'Zellweger'),
 ('Divorce Shining', 'Julia', 'Zellweger'),
 ('Hollow Jeopardy', 'Julia', 'Zellweger'),
 ('Jeopardy Encino', 'Julia', 'Zellweger'),
 ('Lambs Cincinatti', 'Julia', 'Zellweger'),
 ('Majestic Floats', 'Julia', 'Zellweger'),
 ('Minds Truman', 'Julia', 'Zellweger'),
 ('Open African', 'Julia', 'Zellweger'),
 ('Outlaw Hanky', 'Julia', 'Zellweger'),
 ('Panky Submarine', 'Julia', 'Zellweger'),
 ('Rider Caddyshack', 'Julia', 'Zellweger'),
 ('Won Dares', 'Julia', 'Zellweger'),
 ('Wyoming Storm', 'Julia', 'Zellweger')]

In [45]:
%%timeit
join_stmt12 = dict_table['film']\
    .join(dict_table['film_actor'], dict_table['film_actor'].c.film_id == dict_table['film'].c.film_id)\
    .join(dict_table['actor'], dict_table['actor'].c.actor_id == dict_table['film_actor'].c.actor_id)
mapper_stmt12 = select([dict_table['film'].c.title, dict_table['actor'].c.first_name, dict_table['actor'].c.last_name])\
    .select_from(join_stmt12)\
    .where(or_(and_(dict_table['actor'].c.first_name == 'Olympia', dict_table['actor'].c.last_name == 'Pfeiffer'),
               and_(dict_table['actor'].c.first_name == 'Julia', dict_table['actor'].c.last_name == 'Zellweger'),
               and_(dict_table['actor'].c.first_name == 'Ellen', dict_table['actor'].c.last_name == 'Presley')))
engine.execute(mapper_stmt12).fetchall()

136 ms ± 4.82 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [48]:
session_stmt12 = session.query(Film.title, Actor.first_name, Actor.last_name)\
    .join(FilmActor.FilmActor_Film)\
    .join(FilmActor.FilmActor_Actor)\
    .filter(or_(and_(Actor.first_name == 'Olympia', Actor.last_name == 'Pfeiffer'),
                and_(Actor.first_name == 'Julia', Actor.last_name == 'Zellweger'),
                and_(Actor.first_name == 'Ellen', Actor.last_name == 'Presley')))

session_stmt12.all()

[('Bilko Anonymous', 'Ellen', 'Presley'),
 ('Caribbean Liberty', 'Ellen', 'Presley'),
 ('Casper Dragonfly', 'Ellen', 'Presley'),
 ('Empire Malkovich', 'Ellen', 'Presley'),
 ('Floats Garden', 'Ellen', 'Presley'),
 ('Frogmen Breaking', 'Ellen', 'Presley'),
 ('Homeward Cider', 'Ellen', 'Presley'),
 ('Hyde Doctor', 'Ellen', 'Presley'),
 ('Image Princess', 'Ellen', 'Presley'),
 ('Jacket Frisco', 'Ellen', 'Presley'),
 ('Microcosmos Paradise', 'Ellen', 'Presley'),
 ('Network Peak', 'Ellen', 'Presley'),
 ('Oscar Gold', 'Ellen', 'Presley'),
 ('Pickup Driving', 'Ellen', 'Presley'),
 ('Pinocchio Simon', 'Ellen', 'Presley'),
 ('Private Drop', 'Ellen', 'Presley'),
 ('Roots Remember', 'Ellen', 'Presley'),
 ('Scarface Bang', 'Ellen', 'Presley'),
 ('Secretary Rouge', 'Ellen', 'Presley'),
 ('Spy Mile', 'Ellen', 'Presley'),
 ('Streetcar Intentions', 'Ellen', 'Presley'),
 ('Tadpole Park', 'Ellen', 'Presley'),
 ('Treasure Command', 'Ellen', 'Presley'),
 ('Turn Star', 'Ellen', 'Presley'),
 ('Women Dorado', 'Ellen', 'Presley'),
 ('Badman Dawn', 'Olympia', 'Pfeiffer'),
 ('Chitty Lock', 'Olympia', 'Pfeiffer'),
 ('Color Philadelphia', 'Olympia', 'Pfeiffer'),
 ('Contact Anonymous', 'Olympia', 'Pfeiffer'),
 ('Deep Crusade', 'Olympia', 'Pfeiffer'),
 ('Effect Gladiator', 'Olympia', 'Pfeiffer'),
 ('Express Lonely', 'Olympia', 'Pfeiffer'),
 ('Firehouse Vietnam', 'Olympia', 'Pfeiffer'),
 ('Fugitive Maguire', 'Olympia', 'Pfeiffer'),
 ('Hanky October', 'Olympia', 'Pfeiffer'),
 ('Ice Crossing', 'Olympia', 'Pfeiffer'),
 ('Idols Snatchers', 'Olympia', 'Pfeiffer'),
 ('Intolerable Intentions', 'Olympia', 'Pfeiffer'),
 ('Magnolia Forrester', 'Olympia', 'Pfeiffer'),
 ('Mars Roman', 'Olympia', 'Pfeiffer'),
 ('Maude Mod', 'Olympia', 'Pfeiffer'),
 ('Murder Antitrust', 'Olympia', 'Pfeiffer'),
 ('None Spiking', 'Olympia', 'Pfeiffer'),
 ('Others Soup', 'Olympia', 'Pfeiffer'),
 ('Psycho Shrunk', 'Olympia', 'Pfeiffer'),
 ('Santa Paris', 'Olympia', 'Pfeiffer'),
 ('Sense Greek', 'Olympia', 'Pfeiffer'),
 ('Storm Happiness', 'Olympia', 'Pfeiffer'),
 ('Sweet Brotherhood', 'Olympia', 'Pfeiffer'),
 ('Titanic Boondock', 'Olympia', 'Pfeiffer'),
 ('Tourist Pelican', 'Olympia', 'Pfeiffer'),
 ('Traffic Hobbit', 'Olympia', 'Pfeiffer'),
 ('Wait Cider', 'Olympia', 'Pfeiffer'),
 ('Breakfast Goldfinger', 'Julia', 'Zellweger'),
 ('Cranes Reservoir', 'Julia', 'Zellweger'),
 ('Dares Pluto', 'Julia', 'Zellweger'),
 ('Detective Vision', 'Julia', 'Zellweger'),
 ('Divorce Shining', 'Julia', 'Zellweger'),
 ('Hollow Jeopardy', 'Julia', 'Zellweger'),
 ('Jeopardy Encino', 'Julia', 'Zellweger'),
 ('Lambs Cincinatti', 'Julia', 'Zellweger'),
 ('Majestic Floats', 'Julia', 'Zellweger'),
 ('Minds Truman', 'Julia', 'Zellweger'),
 ('Open African', 'Julia', 'Zellweger'),
 ('Outlaw Hanky', 'Julia', 'Zellweger'),
 ('Panky Submarine', 'Julia', 'Zellweger'),
 ('Rider Caddyshack', 'Julia', 'Zellweger'),
 ('Won Dares', 'Julia', 'Zellweger'),
 ('Wyoming Storm', 'Julia', 'Zellweger')]

In [49]:
%%timeit
session_stmt12 = session.query(Film.title, Actor.first_name, Actor.last_name)\
    .join(FilmActor.FilmActor_Film)\
    .join(FilmActor.FilmActor_Actor)\
    .filter(or_(and_(Actor.first_name == 'Olympia', Actor.last_name == 'Pfeiffer'),
                and_(Actor.first_name == 'Julia', Actor.last_name == 'Zellweger'),
                and_(Actor.first_name == 'Ellen', Actor.last_name == 'Presley')))

session_stmt12.all()

59.4 ms ± 6.36 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)