# Use all these methods to create queries for the test database. Check their execution time using the profiling and timing code methods.

1. How many categories of films we have in the rental?

In [56]:
# Use when query is blocked
stmt = session.rollback()

In [1]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb')

In [2]:
from sqlalchemy import MetaData, Table

metadata = MetaData()

dict_table = dict()
for table_name in engine.table_names():
    dict_table[table_name] = Table(table_name, metadata, autoload=True, autoload_with=engine)

print(repr(dict_table['category']))

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000020206D3B0C8>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000020206D3B7C8>, for_update=False)), schema=None)

In [3]:
# For object representation

from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

from sqlalchemy import Column, ForeignKey
from sqlalchemy.dialects.mysql import \
        BIGINT, BINARY, BIT, BLOB, BOOLEAN, CHAR, DATE, \
        DATETIME, DECIMAL, DECIMAL, DOUBLE, ENUM, FLOAT, INTEGER, \
        LONGBLOB, LONGTEXT, MEDIUMBLOB, MEDIUMINT, MEDIUMTEXT, NCHAR, \
        NUMERIC, NVARCHAR, REAL, SET, SMALLINT, TEXT, TIME, TIMESTAMP, \
        TINYBLOB, TINYINT, TINYTEXT, VARBINARY, VARCHAR, YEAR

session = (sessionmaker(bind=engine))()

Base = declarative_base()

class Category(Base):
    
    __tablename__ = 'category'
    category_id  = Column(INTEGER, primary_key=True, unique=True)
    name = Column(VARCHAR(25))
    last_update  = Column(TIMESTAMP)
    
    def __str__(self):
        return 'Category id:{0}\nCategory name: {1}\nCategory last_update: {2}'.format(self.category_id,
                                                                                       self.name,
                                                                                       self.last_update)
    
class FilmCategory(Base):
    
    __tablename__ = 'film_category'
    film_id = Column(SMALLINT, ForeignKey("film.film_id"), primary_key=True, unique=True)
    category_id = Column(SMALLINT, ForeignKey("category.category_id"), unique=True)
    last_update = Column(TIMESTAMP)
    
    # FilmCategory_Category_id = Column(INTEGER, ForeignKey("category.category_id"))
    # FilmCategory_Film_id = Column(INTEGER, ForeignKey("film.film_id"))
    
    FilmCategory_Category = relationship("Category")
    FilmCategory_Film = relationship("Film")
    
class Film(Base):
    
    __tablename__ = 'film'
    film_id  = Column(INTEGER, primary_key=True)
    title = Column(VARCHAR(255))
    description = Column(TEXT)
    release_year  = Column(YEAR)
    language_id = Column(SMALLINT, ForeignKey("language.language_id"))
    rental_duration = Column(SMALLINT)
    rental_rate = Column(NUMERIC(4,2))
    length = Column(SMALLINT)
    replacement_cost = Column(NUMERIC(5,2))
    rating = Column(TEXT)
    last_update = Column(TIMESTAMP)
    special_features = Column(TEXT)
    fulltext = Column(TEXT)
    
    # Film_Language_id = Column(INTEGER, ForeignKey("language.language_id"))
    
    Film_Language = relationship("Language")

class Inventory(Base):

    __tablename__ = 'inventory'
    inventory_id = Column(INTEGER, primary_key=True, unique=True)
    film_id = Column(SMALLINT, ForeignKey("film.film_id"))
    store_id = Column(SMALLINT)
    last_update = Column(TIMESTAMP)
    
    Inventory_Film = relationship("Film")

class Rental(Base):

    __tablename__ = 'rental'
    rental_id = Column(INTEGER, primary_key=True, unique=True)
    rental_date = Column(TIMESTAMP, unique=True)
    inventory_id = Column(INTEGER, ForeignKey("inventory.inventory_id"), unique=True)
    customer_id = Column(SMALLINT, ForeignKey("customer.customer_id"), unique=True)
    return_date = Column(TIMESTAMP)
    staff_id = Column(SMALLINT, ForeignKey("staff.staff_id"))
    last_update = Column(TIMESTAMP)
    
    Rental_Inventory = relationship("Inventory")
    Rental_Customer = relationship("Customer")
    Rental_Staff = relationship("Staff")

class Customer(Base):
    
    __tablename__ = 'customer'
    customer_id = Column(INTEGER, primary_key=True, unique=True)
    store_id = Column(SMALLINT)
    first_name = Column(VARCHAR(45))
    last_name = Column(VARCHAR(45))
    email = Column(VARCHAR(50))
    address_id = Column(SMALLINT, ForeignKey("address.address_id"))
    activebool = Column(BOOLEAN)
    create_date = Column(DATE)
    last_update = Column(TIMESTAMP)
    active = Column(INTEGER)
    
    Customer_Address = relationship("Address")
    
class Payment(Base):
    
    __tablename__ = 'payment'
    payment_id = Column(INTEGER, primary_key=True, unique=True)
    customer_id = Column(SMALLINT, ForeignKey("customer.customer_id"))
    staff_id = Column(SMALLINT, ForeignKey("staff.staff_id"))
    rental_id = Column(INTEGER, ForeignKey("rental.rental_id"))
    amount = Column(NUMERIC(5,2))
    payment_date = Column(TIMESTAMP)
    
    Payment_Customer = relationship("Customer")
    Payment_Staff = relationship("Staff")
    Payment_Rental = relationship("Rental")
    
class Address(Base):
    
    __tablename__ = 'address'
    address_id = Column(INTEGER, primary_key=True, unique=True)
    address = Column(VARCHAR(50))
    address2 = Column(VARCHAR(50))
    district = Column(VARCHAR(20))
    city_id = Column(SMALLINT, ForeignKey("city.city_id"))
    postal_code = Column(VARCHAR(10))
    phone = Column(VARCHAR(20))
    last_update = Column(TIMESTAMP)
    
    Address_City = relationship("City")
    
class Language(Base):
    
    __tablename__ = 'language'
    language_id = Column(INTEGER, primary_key=True, unique=True)
    name = Column(CHAR(20))
    last_update = Column(TIMESTAMP)
    
class FilmActor(Base):
    
    __tablename__ = 'film_actor'
    actor_id = Column(SMALLINT, ForeignKey("actor.actor_id"), primary_key=True, unique=True)
    film_id = Column(SMALLINT, ForeignKey("film.film_id"), primary_key=True, unique=True)
    last_update = Column(TIMESTAMP)
    
    FilmActor_Actor = relationship("Actor")
    FilmActor_Film = relationship("Film")
    
class Staff(Base):
    
    __tablename__ = 'staff'
    staff_id = Column(INTEGER, primary_key=True, unique=True)
    first_name = Column(VARCHAR(45))
    last_name = Column(VARCHAR(45))
    address_id = Column(SMALLINT, ForeignKey("address.address_id"))
    email = Column(VARCHAR(50))
    store_id = Column(SMALLINT)
    active = Column(BOOLEAN)
    username = Column(VARCHAR(16))
    password = Column(VARCHAR(40))
    last_update = Column(TIMESTAMP)
    
    Staff_Address = relationship("Address")
    
class Actor(Base):
    
    __tablename__ = 'actor'
    actor_id = Column(INTEGER, primary_key=True, unique=True)
    first_name = Column(VARCHAR(45))
    last_name = Column(VARCHAR(45))
    last_update = Column(TIMESTAMP)
    
class City(Base):
    
    __tablename__ = 'city'
    city_id = Column(INTEGER, primary_key=True, unique=True)
    city = Column(VARCHAR(50))
    country_id = Column(SMALLINT, ForeignKey("country.country_id"))
    last_update = Column(TIMESTAMP)
    
    City_Country = relationship("Country")
    
class Country(Base):
    
    __tablename__ = 'country'
    country_id = Column(INTEGER, primary_key=True, unique=True)
    country = Column(VARCHAR(50))
    last_update = Column(TIMESTAMP)
    
class Store(Base):
    
    __tablename__ = 'store'
    store_id = Column(INTEGER, primary_key=True, unique=True)
    manager_staff_id = Column(SMALLINT, ForeignKey("staff.staff_id"), unique=True)
    addres_id = Column(SMALLINT, ForeignKey("address.address_id"))
    last_update = Column(TIMESTAMP)

In [4]:
from sqlalchemy import select, func
import datetime
from sqlalchemy import and_, or_

In [5]:
sql_stmt = 'select count(*) from category'
print(sql_stmt)
sql_results = engine.execute(sql_stmt).fetchall()
print('SQL statement. Number of film categories in rental: {count}'.format(count=sql_results))

select count(*) from category
SQL statement. Number of film categories in rental: [(16,)]

In [6]:
%%timeit
sql_stmt = 'select count(*) from category'
sql_results = engine.execute(sql_stmt).fetchall()

The slowest run took 8.60 times longer than the fastest. This could mean that an intermediate result is being cached.
330 ms ± 297 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
mapper_stmt = select([func.count()]).select_from(dict_table['category'])
print(mapper_stmt)
mapper_results = engine.execute(mapper_stmt).fetchall()
print('Mapper. Number of film categories in rental: {count}'.format(count=mapper_results))

SELECT count(*) AS count_1
FROM category
Mapper. Number of film categories in rental: [(16,)]

In [9]:
%%timeit
mapper_stmt = select([func.count()]).select_from(dict_table['category'])
mapper_results = engine.execute(mapper_stmt).fetchall()

144 ms ± 12.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
session_stmt = session.query(Category)
print(session_stmt)
Count_session = session_stmt.count()
print('Session. Number of film categories in rental: {count}'.format(count=Count_session))

In [11]:
%%timeit
session_stmt = session.query(Category)
Count_session = session_stmt.count()

67.3 ms ± 8.78 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [12]:
session_stmt_func = session.query(func.count(Category.category_id))
print(session_stmt_func)
Count_session_func = session_stmt_func.all()
print('Session. Number of film categories in rental: {count}'.format(count=Count_session_func))

SELECT count(category.category_id) AS count_1
FROM category
Session. Number of film categories in rental: [(16,)]

In [13]:
%%timeit
session_stmt_func = session.query(func.count(Category.category_id))
Count_session_func = session_stmt_func.all()

59 ms ± 7.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

2. Display list of categories in alphabetic order.

In [ ]:
mapper_stmt2 = select([dict_table['category'].columns.category_id,dict_table['category'].columns.name])\
               .order_by(dict_table['category'].columns.name)
engine.execute(mapper_stmt2).fetchall()

In [15]:
%%timeit
mapper_stmt2 = select([dict_table['category'].columns.category_id,dict_table['category'].columns.name])\
               .order_by(dict_table['category'].columns.name)
engine.execute(mapper_stmt2).fetchall()

157 ms ± 16 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [16]:
session_stmt2 = session.query(Category.category_id, Category.name).order_by(Category.name)
session_stmt2.all()

[(1, 'Action'),
 (2, 'Animation'),
 (3, 'Children'),
 (4, 'Classics'),
 (5, 'Comedy'),
 (6, 'Documentary'),
 (7, 'Drama'),
 (8, 'Family'),
 (9, 'Foreign'),
 (10, 'Games'),
 (11, 'Horror'),
 (12, 'Music'),
 (13, 'New'),
 (14, 'Sci-Fi'),
 (15, 'Sports'),
 (16, 'Travel')]

In [17]:
%%timeit
session_stmt2 = session.query(Category.category_id, Category.name).order_by(Category.name)
session_stmt2.all()

58 ms ± 15.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

3. Find the oldest and youngest film in rental.

In [50]:
sql_stmt3_max = "SELECT title, date  \
                from (select film.title as title, rental.rental_date as date \
                    from film \
                    inner join inventory on film.film_id = inventory.film_id \
                    inner join rental on inventory.inventory_id = rental.inventory_id \
                GROUP BY title, date) as temp_tbl \
                WHERE date = (SELECT MAX(rental.rental_date) from rental) \
                GROUP by title, date"
engine.execute(sql_stmt3_max).fetchmany(size=10)

[('Ace Goldfinger', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Affair Prejudice', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('African Egg', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Ali Forever', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Alone Trip', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Amadeus Holy', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('American Circus', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Amistad Midsummer', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Armageddon Lost', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Baked Cleopatra', datetime.datetime(2006, 2, 14, 15, 16, 3))]

In [19]:
%%timeit
sql_stmt3_max = "SELECT title, date  \
                from (select film.title as title, rental.rental_date as date \
                    from film \
                    inner join inventory on film.film_id = inventory.film_id \
                    inner join rental on inventory.inventory_id = rental.inventory_id \
                GROUP BY title, date) as temp_tbl \
                WHERE date = (SELECT MAX(rental.rental_date) from rental) \
                GROUP by title, date"
engine.execute(sql_stmt3_max).fetchall()

153 ms ± 13.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [20]:
sql_stmt3_min = "SELECT title, date  \
                from (select film.title as title, rental.rental_date as date \
                    from film \
                    inner join inventory on film.film_id = inventory.film_id \
                    inner join rental on inventory.inventory_id = rental.inventory_id \
                GROUP BY title, date) as temp_tbl \
                WHERE date = (SELECT MIN(rental.rental_date) from rental) \
                GROUP by title, date"
engine.execute(sql_stmt3_min).fetchall()

[('Blanket Beverly', datetime.datetime(2005, 5, 24, 22, 53, 30))]

In [21]:
%%timeit
sql_stmt3_min = "SELECT title, date  \
                from (select film.title as title, rental.rental_date as date \
                    from film \
                    inner join inventory on film.film_id = inventory.film_id \
                    inner join rental on inventory.inventory_id = rental.inventory_id \
                GROUP BY title, date) as temp_tbl \
                WHERE date = (SELECT MIN(rental.rental_date) from rental) \
                GROUP by title, date"
engine.execute(sql_stmt3_min).fetchall()

154 ms ± 15 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [42]:
mapper_join3 = dict_table['film'].join(dict_table['inventory'],
                                       dict_table['film'].c.film_id == dict_table['inventory'].c.film_id)
mapper_join3 = mapper_join3.join(dict_table['rental'], 
                                 dict_table['inventory'].c.inventory_id == dict_table['rental'].c.inventory_id)
mapper_stmt3_min = select([dict_table['film'].c.title, dict_table['rental'].c.rental_date]).select_from(mapper_join3)
mapper_stmt3_min = mapper_stmt3_min.group_by(dict_table['film'].c.title, dict_table['rental'].c.rental_date)
mapper_stmt3_min = mapper_stmt3_min.where(dict_table['rental'].c.rental_date == select([func.min(dict_table['rental'].c.rental_date)]))

engine.execute(mapper_stmt3_min).fetchall()

[('Blanket Beverly', datetime.datetime(2005, 5, 24, 22, 53, 30))]

In [44]:
%%timeit
mapper_join3 = dict_table['film'].join(dict_table['inventory'],
                                       dict_table['film'].c.film_id == dict_table['inventory'].c.film_id)
mapper_join3 = mapper_join3.join(dict_table['rental'], 
                                 dict_table['inventory'].c.inventory_id == dict_table['rental'].c.inventory_id)
mapper_stmt3_min = select([dict_table['film'].c.title, dict_table['rental'].c.rental_date]).select_from(mapper_join3)
mapper_stmt3_min = mapper_stmt3_min.group_by(dict_table['film'].c.title, dict_table['rental'].c.rental_date)
mapper_stmt3_min = mapper_stmt3_min.where(dict_table['rental'].c.rental_date == select([func.min(dict_table['rental'].c.rental_date)]))

engine.execute(mapper_stmt3_min).fetchall()

263 ms ± 90.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [48]:
mapper_join3 = dict_table['film'].join(dict_table['inventory'],
                                       dict_table['film'].c.film_id == dict_table['inventory'].c.film_id)
mapper_join3 = mapper_join3.join(dict_table['rental'], 
                                 dict_table['inventory'].c.inventory_id == dict_table['rental'].c.inventory_id)
mapper_stmt3_max = select([dict_table['film'].c.title, dict_table['rental'].c.rental_date]).select_from(mapper_join3)
mapper_stmt3_max = mapper_stmt3_max.group_by(dict_table['film'].c.title, dict_table['rental'].c.rental_date)
mapper_stmt3_max = mapper_stmt3_max.where(dict_table['rental'].c.rental_date == select([func.max(dict_table['rental'].c.rental_date)]))

engine.execute(mapper_stmt3_max).fetchmany(size=10)

[('Ace Goldfinger', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Affair Prejudice', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('African Egg', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Ali Forever', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Alone Trip', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Amadeus Holy', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('American Circus', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Amistad Midsummer', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Armageddon Lost', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Baked Cleopatra', datetime.datetime(2006, 2, 14, 15, 16, 3))]

In [49]:
%%timeit
mapper_join3 = dict_table['film'].join(dict_table['inventory'],
                                       dict_table['film'].c.film_id == dict_table['inventory'].c.film_id)
mapper_join3 = mapper_join3.join(dict_table['rental'], 
                                 dict_table['inventory'].c.inventory_id == dict_table['rental'].c.inventory_id)
mapper_stmt3_max = select([dict_table['film'].c.title, dict_table['rental'].c.rental_date]).select_from(mapper_join3)
mapper_stmt3_max = mapper_stmt3_max.group_by(dict_table['film'].c.title, dict_table['rental'].c.rental_date)
mapper_stmt3_max = mapper_stmt3_max.where(dict_table['rental'].c.rental_date == select([func.max(dict_table['rental'].c.rental_date)]))

engine.execute(mapper_stmt3_max).fetchall()

342 ms ± 125 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [60]:
session_stmt3_min = session.query(Film.title, Rental.rental_date)\
    .join(Rental.Rental_Inventory)\
    .join(Inventory.Inventory_Film)\
    .filter(Rental.rental_date == session.query(func.min(Rental.rental_date)))\
    .group_by(Film.title, Rental.rental_date)
session_stmt3_min.all()

[('Ace Goldfinger', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Affair Prejudice', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('African Egg', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Ali Forever', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Alone Trip', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Amadeus Holy', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('American Circus', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Amistad Midsummer', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Armageddon Lost', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Baked Cleopatra', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Bang Kwai', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Basic Easy', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Berets Agent', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Blade Polish', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Blanket Beverly', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Boogie Amelie', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Boulevard Mob', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Bound Cheaper', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Bubble Grosse', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Bull Shawshank', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Camelot Vacation', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Candidate Perdition', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Canyon Stock', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Cat Coneheads', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Center Dinosaur', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Chamber Italian', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Chasing Fight', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Chitty Lock', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Cincinatti Whisperer', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Cleopatra Devil', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Club Graffiti', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Connection Microcosmos', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Conversation Downhill', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Creatures Shakespeare', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Crooked Frogmen', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Curtain Videotape', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Cyclone Family', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Dances None', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Day Unfaithful', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Deep Crusade', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Deer Virginian', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Details Packer', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Detective Vision', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Devil Desire', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Disciple Mother', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Divine Resurrection', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Doors President', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Dragonfly Strangers', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Drifter Commandments', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Driver Annie', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Dwarfs Alter', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Eagles Panky', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Earth Vision', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Effect Gladiator', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Encino Elf', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Enough Raging', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Falcon Volume', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Family Sweet', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Fight Jawbreaker', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Flying Hook', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Forrester Comancheros', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Frida Slipper', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Frisco Forrest', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Frost Head', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Gables Metropolis', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Ghost Groundhog', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Gleaming Jawbreaker', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Gorgeous Bingo', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Grail Frankenstein', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Grapes Fury', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Groundhog Uncut', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Gunfight Moon', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Half Outfield', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Happiness United', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Harry Idaho', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Haunted Antitrust', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Holes Brannigan', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Hunchback Impossible', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Hunger Roof', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Hyde Doctor', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Igby Maker', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Insects Stone', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Insider Arizona', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Intentions Empire', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Intrigue Worst', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Jason Trap', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Juggler Hardly', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Kick Savannah', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lady Stage', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lawless Vision', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Loathing Legally', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lord Arizona', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lovely Jingle', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lust Lock', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Midnight Westward', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Minority Kiss', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mockingbird Hollywood', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Monster Spartacus', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Moonwalker Fool', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mosquito Armageddon', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Motions Details', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Movie Shakespeare', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mulan Moon', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mulholland Beast', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mummy Creatures', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Name Detective', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('None Spiking', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Operation Operation', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Opposite Necklace', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Outfield Massacre', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Outlaw Hanky', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Peach Innocent', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Philadelphia Wife', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pianist Outfield', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pirates Roxanne', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pollock Deliverance', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pride Alamo', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Princess Giant', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pulp Beverly', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pure Runner', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Queen Luke', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Ridgemont Submarine', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('River Outlaw', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Scarface Bang', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Seabiscuit Punk', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Seattle Expecations', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Shawshank Bubble', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Shock Cabin', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Shrek License', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Silverado Goldfinger', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sleeping Suspects', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sleepless Monsoon', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sleepy Japanese', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Smoking Barbarella', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Smoochy Control', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Song Hedwig', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sons Interview', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('South Wait', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Star Operation', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('State Wasteland', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Streak Ridgemont', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Suit Walls', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Summer Scarface', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sundance Invasion', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Suspects Quills', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Swarm Gold', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sweden Shining', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sweethearts Suspects', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Theory Mermaid', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Titanic Boondock', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Titans Jerk', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Torque Bound', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Trading Pinocchio', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Trojan Tomorrow', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Trouble Date', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Tuxedo Mile', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Vanished Garden', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Vanishing Rocky', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Varsity Trip', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Virginian Pluto', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Volcano Texas', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Wanda Chamber', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Wedding Apollo', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Wild Apollo', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Window Side', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Women Dorado', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('World Leathernecks', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Zhivago Core', datetime.datetime(2006, 2, 14, 15, 16, 3))]

In [62]:
%%timeit
session_stmt3_min = session.query(Film.title, Rental.rental_date)\
    .join(Rental.Rental_Inventory)\
    .join(Inventory.Inventory_Film)\
    .filter(Rental.rental_date == session.query(func.min(Rental.rental_date)))\
    .group_by(Film.title, Rental.rental_date)
session_stmt3_min.all()

74.1 ms ± 21.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [63]:
session_stmt3_max = session.query(Film.title, Rental.rental_date)\
    .join(Rental.Rental_Inventory)\
    .join(Inventory.Inventory_Film)\
    .filter(Rental.rental_date == session.query(func.max(Rental.rental_date)))\
    .group_by(Film.title, Rental.rental_date)
session_stmt3_max.all()

[('Ace Goldfinger', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Affair Prejudice', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('African Egg', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Ali Forever', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Alone Trip', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Amadeus Holy', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('American Circus', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Amistad Midsummer', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Armageddon Lost', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Baked Cleopatra', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Bang Kwai', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Basic Easy', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Berets Agent', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Blade Polish', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Blanket Beverly', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Boogie Amelie', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Boulevard Mob', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Bound Cheaper', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Bubble Grosse', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Bull Shawshank', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Camelot Vacation', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Candidate Perdition', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Canyon Stock', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Cat Coneheads', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Center Dinosaur', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Chamber Italian', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Chasing Fight', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Chitty Lock', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Cincinatti Whisperer', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Cleopatra Devil', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Club Graffiti', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Connection Microcosmos', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Conversation Downhill', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Creatures Shakespeare', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Crooked Frogmen', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Curtain Videotape', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Cyclone Family', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Dances None', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Day Unfaithful', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Deep Crusade', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Deer Virginian', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Details Packer', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Detective Vision', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Devil Desire', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Disciple Mother', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Divine Resurrection', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Doors President', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Dragonfly Strangers', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Drifter Commandments', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Driver Annie', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Dwarfs Alter', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Eagles Panky', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Earth Vision', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Effect Gladiator', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Encino Elf', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Enough Raging', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Falcon Volume', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Family Sweet', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Fight Jawbreaker', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Flying Hook', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Forrester Comancheros', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Frida Slipper', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Frisco Forrest', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Frost Head', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Gables Metropolis', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Ghost Groundhog', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Gleaming Jawbreaker', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Gorgeous Bingo', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Grail Frankenstein', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Grapes Fury', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Groundhog Uncut', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Gunfight Moon', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Half Outfield', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Happiness United', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Harry Idaho', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Haunted Antitrust', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Holes Brannigan', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Hunchback Impossible', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Hunger Roof', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Hyde Doctor', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Igby Maker', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Insects Stone', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Insider Arizona', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Intentions Empire', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Intrigue Worst', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Jason Trap', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Juggler Hardly', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Kick Savannah', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lady Stage', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lawless Vision', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Loathing Legally', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lord Arizona', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lovely Jingle', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Lust Lock', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Midnight Westward', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Minority Kiss', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mockingbird Hollywood', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Monster Spartacus', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Moonwalker Fool', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mosquito Armageddon', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Motions Details', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Movie Shakespeare', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mulan Moon', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mulholland Beast', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Mummy Creatures', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Name Detective', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('None Spiking', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Operation Operation', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Opposite Necklace', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Outfield Massacre', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Outlaw Hanky', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Peach Innocent', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Philadelphia Wife', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pianist Outfield', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pirates Roxanne', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pollock Deliverance', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pride Alamo', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Princess Giant', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pulp Beverly', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Pure Runner', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Queen Luke', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Ridgemont Submarine', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('River Outlaw', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Scarface Bang', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Seabiscuit Punk', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Seattle Expecations', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Shawshank Bubble', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Shock Cabin', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Shrek License', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Silverado Goldfinger', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sleeping Suspects', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sleepless Monsoon', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sleepy Japanese', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Smoking Barbarella', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Smoochy Control', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Song Hedwig', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sons Interview', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('South Wait', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Star Operation', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('State Wasteland', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Streak Ridgemont', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Suit Walls', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Summer Scarface', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sundance Invasion', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Suspects Quills', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Swarm Gold', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sweden Shining', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Sweethearts Suspects', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Theory Mermaid', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Titanic Boondock', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Titans Jerk', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Torque Bound', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Trading Pinocchio', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Trojan Tomorrow', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Trouble Date', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Tuxedo Mile', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Vanished Garden', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Vanishing Rocky', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Varsity Trip', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Virginian Pluto', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Volcano Texas', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Wanda Chamber', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Wedding Apollo', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Wild Apollo', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Window Side', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Women Dorado', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('World Leathernecks', datetime.datetime(2006, 2, 14, 15, 16, 3)),
 ('Zhivago Core', datetime.datetime(2006, 2, 14, 15, 16, 3))]

In [66]:
%%timeit
session_stmt3_max = session.query(Film.title, Rental.rental_date)\
    .join(Rental.Rental_Inventory)\
    .join(Inventory.Inventory_Film)\
    .filter(Rental.rental_date == session.query(func.max(Rental.rental_date)))\
    .group_by(Film.title, Rental.rental_date)
session_stmt3_max.all()

56.8 ms ± 4.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

4. How many rentals were in between 2005-07-01 and 2005-08-01?

In [85]:
mapper_stmt4 = select([func.count()]).select_from(dict_table['rental'])\
    .where(and_(dict_table['rental'].c.rental_date > datetime.datetime(2005,7,1),
                dict_table['rental'].c.rental_date < datetime.datetime(2005,8,1)))
engine.execute(mapper_stmt4).fetchall()

[(6709,)]

In [86]:
%%timeit
mapper_stmt4 = select([func.count()]).select_from(dict_table['rental'])\
    .where(and_(dict_table['rental'].c.rental_date > datetime.datetime(2005,7,1),
                dict_table['rental'].c.rental_date < datetime.datetime(2005,8,1)))
engine.execute(mapper_stmt4).fetchall()

375 ms ± 57.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [87]:
session_stmt4 = session.query(func.count(Rental.rental_date))\
    .filter(and_(Rental.rental_date > datetime.datetime(2005,7,1),
                 Rental.rental_date < datetime.datetime(2005,8,1)))
session_stmt4.all()

[(6709)]

In [88]:
%%timeit
session_stmt4 = session.query(func.count(Rental.rental_date))\
    .filter(and_(Rental.rental_date > datetime.datetime(2005,7,1),
                 Rental.rental_date < datetime.datetime(2005,8,1)))
session_stmt4.all()

85.5 ms ± 23.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

5. How many rentals were in between 2010-01-01 and 2011-02-01?

In [89]:
mapper_stmt5 = select([func.count()]).select_from(dict_table['rental'])\
    .where(and_(dict_table['rental'].c.rental_date > datetime.datetime(2010,1,1),
                dict_table['rental'].c.rental_date < datetime.datetime(2011,2,1)))
engine.execute(mapper_stmt5).fetchall()

[(0,)]

In [90]:
%%timeit
mapper_stmt5 = select([func.count()]).select_from(dict_table['rental'])\
    .where(and_(dict_table['rental'].c.rental_date > datetime.datetime(2010,1,1),
                dict_table['rental'].c.rental_date < datetime.datetime(2011,2,1)))
engine.execute(mapper_stmt5).fetchall()

217 ms ± 31 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [91]:
session_stmt5 = session.query(func.count(Rental.rental_date))\
    .filter(and_(Rental.rental_date > datetime.datetime(2010,1,1),
                 Rental.rental_date < datetime.datetime(2011,2,1)))
session_stmt5.all()

[(0)]

In [92]:
%%timeit
session_stmt5 = session.query(func.count(Rental.rental_date))\
    .filter(and_(Rental.rental_date > datetime.datetime(2010,1,1),
                 Rental.rental_date < datetime.datetime(2011,2,1)))
session_stmt5.all()

76.2 ms ± 13.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

6. Find the biggest payment in the rental.

In [97]:
mapper_stmt6 = select([func.max(dict_table['payment'].c.amount)])
engine.execute(mapper_stmt6).fetchall()

[(Decimal('11.99'),)]

In [105]:
%%timeit
mapper_stmt6 = select([func.max(dict_table['payment'].c.amount)])
engine.execute(mapper_stmt6).fetchall()

246 ms ± 81.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [99]:
session_stmt6 = session.query(func.max(Payment.amount))
session_stmt6.all()

[(Decimal('11.99'))]

In [106]:
%%timeit
session_stmt6 = session.query(func.max(Payment.amount))
session_stmt6.all()

111 ms ± 33.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)